<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :subdomain %>
    <%= form.text_field :subdomain %>
  </div>

  <div class="field">
    <%= form.fields_for :database_config do |db_config_fields| %>
      <%= db_config_fields.label :adapter %>
      <%= db_config_fields.text_field :adapter %>
    </div>

    <div class="field">
      <%= db_config_fields.label :database %>
      <%= db_config_fields.text_field :database %>
    </div>

    <div class="field">
      <%= db_config_fields.label :user %>
      <%= db_config_fields.text_field :user %>
    </div>

    <div class="field">
      <%= db_config_fields.label :password %>
      <%= db_config_fields.text_field :password %>
    </div>

    <div class="field">
      <%= db_config_fields.label :host %>
      <%= db_config_fields.text_field :host %>
    </div>

    <div class="field">
      <%= db_config_fields.label :port %>
      <%= db_config_fields.text_field :port %>
    </div>
    <% end %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
